<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />


<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

<link rel="stylesheet" href="/lib/_app/styles.css">
<link rel="stylesheet" href="/lib/_app/site.css">
<!--endinject-->

<title>SHBC - Legacy Planning Search</title>

<!-- Nav view -->
<% include ./partials/navView %>
<div id="wrapper" class="container-fluid">
    <div id="main" class="container-fluid">
        <!-- Start Main -->
        <div class="row">
            <!-- Service Explanation view -->
            <% include ./partials/explanationView %>
        </div>
        <!-- End Main -->
    </div>
    <!-- Footer view -->
    <% include ./partials/footerView %>
</div>