<div class="col-md-6 col-md-offset-3">
    <h4>About The Service</h4>
    <div>
        <h4>
            ! Still under construction !
        </h4>
        <p>
            Surrey Heath's Planning history ranges from 2005 back to the early 1970s.
        </p>
        <p>
            There are two ways to search Surrey Heath's Planning history.
            Both methods make use of the historic <b>Planning History Record Cards</b>
            dataset which has been converted from paper to digital format.
        </p>
        <p>
            For now you can only see a summary of the planning history for a given property.
            In future you may be able to get detailed case files.
        </p>
    </div>
</div>