<div class="col-md-6 col-md-offset-3">
    <h4>About This Service</h4>
    <div>
        <p>
            Surrey Heath's Planning history ranges from 2005 back to the early 1970s.
        </p>
        <p>
            There are two ways to search Surrey Heath's Planning history.
            Both methods make use of the historic <b>Planning History Record Cards</b>
            dataset which has been converted from paper to digital format.
        </p>
        <p>
            For now you can only see a summary of the planning history for a given property.
            In future you may be able to get detailed case files.
        </p>
        <h4>Notes on Content</h4>
        <p>
            The History Record Card dataset was created before the existence of computerised
            case management systems and the cards themselves were written by hand. They
            detail an address, a case number, a decision code and a date. The most common
            decision codes are as follows.
        </p>
        <ul>
            <li>A - Approved</li>
            <li>R - Refused</li>
            <li>W - Withdrawn</li>
            <li>D - Appeal Dismissed</li>
            <li>Allowed at Appeal</li>
        </ul>
    </div>
</div>