<div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <h5 class="text-center" id="footer">&copy; <%= moment().format(yearDateFormat) %> Surrey Heath Borough Council</h5>
    </div>
</div>