<div class="col-md-6 col-md-offset-3">
    <h4>Planning History Search</h4>
    <p>
        Welcome to Surrey Heath's Planning history search engine.
    </p>
    <div>
        <div>
            <!--<button type="button" class="btn btn-secondary btn-lg">-->
                <a href="/Map" class="btn btn-secondary btn-lg">
                    Browse map
                    <i class="fa fa-map"></i>
                </a>
            <!--</button>-->
        </div>
        <div>
            <!--<button class="btn btn-link">-->
                <a href="/Street" class="btn btn-secondary btn-lg">
                    Search by street name
                    <i class="fa fa-search"></i>
                </a>
            <!--</button>-->
        </div>
        <div>
            <!--<button class="btn btn-link">-->
                <a href="/Feedback" class="btn btn-secondary btn-lg">
                    Give us feedback
                    <i class="fa fa-comment-o"></i>
                </a>
            <!--</button>-->
        </div>
    </div>
    <p>
        <b>About The Service</b>
    </p>
    <p>
        Please review the About page for more information and an explanation of
        the content.
    </p>
</div>