<div class="col-md-6 col-md-offset-3">
    <h4>Planning History Search</h4>

    <p>Surrey Heath's Planning history ranges from 2005 back to the early 1970s.</p>
    <p>
        There are two ways to search Surrey Heath's Planning history.
        Both methods make use of the historic <b>Planning History Record Cards</b>
        dataset which has been converted from paper to digital format.
    </p>

    <ul>
        <li>
            The history record cards can be browsed via a map
            <a href="/Map" class="btn btn-sm">
                <i class="fa fa-map"></i>
            </a>
        </li>
        <li>
            Or they can be searched by road name
            <a href="/Street" class="btn btn-sm">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li>
            We would also like to invite feedback as to the quality of this
            service
            <a href="/Feedback" class="btn btn-sm">
                <i class="fa fa-comment-o"></i>
            </a>
        </li>
    </ul>
    
    <p>
        Plans for the development of this service include the ability to retrieve
        historic Planning case files.
    </p>
</div>