<div class="col-md-6 col-md-offset-3">
    <h4>Planning History Search</h4>
    <p>
        Welcome to Surrey Heath's Planning history search engine.
    </p>
    <div>
        <div>
            <a href="/Map" class="btn btn-link">
                <p>Browse map <i class="fa fa-map"></i></p>
            </a>
        </div>
        <div>
            <a href="/Street" class="btn btn-link">
                <p>Search by street name <i class="fa fa-search"></i></p>
            </a>
        </div>
        <div>
            <a href="/Feedback" class="btn btn-link">
                <p>Give us feedback <i class="fa fa-comment-o"></i></p>
            </a>
        </div>
        <div>
            <a href="/About" class="btn btn-link">
                <p>About <i class="fa fa-info"></i></p>
            </a>
        </div>
    </div>
</div>