<div id="planningSelector">
    <form name="planningCaseSelectorForm" action="/Map/planningCase" method="get">
        <div class="form-group">
            <label for="planningCase">Please enter a Planning application number</label>
            <input type="text" id="planningCase" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" />
        </div>
    </form>
</div>