<div id="planningSelector">
    <form method="post">
        <!-- Case Number Entry Field -->
        <div class="form-group">
            <label for="selector">Please enter an Planning Application number</label>
            <input type="text" id="address" class="form-control" />
        </div>
        <!-- Submit / Cancel Buttons -->
        <div class="form-group">
            <a href="\Map" class="btn btn-default">Cancel</a>
            <input type="submit" id="selectorSubmit" value="Submit" class="btn btn-success" />
        </div>
    </form>
</div>