<div class="form-group">
    <form name="streetSearchForm" action="/Street/name" method="get">
        <label for="name">Please enter a street name within Surrey Heath</label>
        <input type="text" id="name" name="name" class="form-control" />
        <input type="submit" value="Search"/>
    </form>
</div>
